Repository rgranvilla/yggdrasil: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "npx eslint --fix",
    "prettier --write \"**/*.{ts,tsx}\""
  ],
  "*.{md,mdx,mjs,yml,yaml,css}": [
    "prettier --write"
  ]
}

chore: add changeset
  .changeset/config.json
  package.json
  yarn.lock
Due: none

chore: add and config eslint and prettier
  .eslintrc.js
  apps/docs/.eslintrc.js
  apps/docs/README.md
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/index.tsx
  apps/docs/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/package.json
  package-lock.json
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/eslint-config/.prettierrc.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

chore: remove app web
  apps/web/.eslintrc.js
  apps/web/README.md
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/tsconfig.json
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

feat(docs): create docs app
  apps/docs/.storybook/main.js
  apps/docs/.storybook/manager-head.html
  apps/docs/.storybook/manager.js
  apps/docs/.storybook/preview-head.html
  apps/docs/.storybook/preview.js
  apps/docs/package.json
  apps/docs/src/pages/f01-system/a01_home.stories.mdx
  apps/docs/src/pages/f01-system/a02_lintConfig.stories.mdx
  apps/docs/src/pages/f01-system/a03_changesets.stories.mdx
  apps/docs/src/pages/f01-system/a04_eslintConfig.stories.mdx
  apps/docs/src/pages/f02-documentation/d01_documentation.stories.mdx
  apps/docs/src/stories/Button.jsx
  apps/docs/src/stories/Button.stories.jsx
  apps/docs/src/stories/Header.jsx
  apps/docs/src/stories/Header.stories.jsx
  apps/docs/src/stories/Page.jsx
  apps/docs/src/stories/Page.stories.jsx
  apps/docs/src/stories/assets/code-brackets.svg
  apps/docs/src/stories/assets/colors.svg
  apps/docs/src/stories/assets/comments.svg
  apps/docs/src/stories/assets/direction.svg
  apps/docs/src/stories/assets/flow.svg
  apps/docs/src/stories/assets/plugin.svg
  apps/docs/src/stories/assets/repo.svg
  apps/docs/src/stories/assets/stackalt.svg
  apps/docs/src/stories/button.css
  apps/docs/src/stories/header.css
  apps/docs/src/stories/page.css
  package.json
  turbo.json
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

chore: remove ui library
  packages/ui/Button.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

chore(api-ecommerce): create node project
  apps/api-ecommerce/.gitignore
  apps/api-ecommerce/README.md
  apps/api-ecommerce/package.json
  apps/api-ecommerce/src/app.ts
  apps/api-ecommerce/src/server.ts
  apps/api-ecommerce/tsconfig.json
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

chore(api-ecommerce): using exact version
  .npmrc
  apps/api-ecommerce/.npmrc
  apps/api-ecommerce/package.json
  package.json
  yarn.lock
Due: none

feat(api-ecommerce): loading environment variables
  apps/api-ecommerce/.env.example
  apps/api-ecommerce/.gitignore
  apps/api-ecommerce/package.json
  apps/api-ecommerce/src/env/index.ts
  apps/api-ecommerce/src/server.ts
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

chore(api-ecommerce): creating import aliases
  apps/api-ecommerce/tsconfig.json
Due: none

chore(api-ecommerce): add prisma with docker
  apps/api-ecommerce/.prettierrc.json
  apps/api-ecommerce/package.json
  apps/api-ecommerce/prisma/migrations/20230312163904_create_users_table/migration.sql
  apps/api-ecommerce/prisma/migrations/migration_lock.toml
  apps/api-ecommerce/prisma/schema.prisma
  apps/api-ecommerce/src/app.ts
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): initialize docker compose
  .dockerignore
  docker-compose.yml
Due: prettier --write

fix: eslint config
  .eslintrc.js
  apps/api-ecommerce/.eslintrc.json
  apps/api-ecommerce/package.json
  package.json
  packages/eslint-config-custom/.prettierrc.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

chore(docs): using exact version
  apps/docs/package.json
Due: none

fix: eslint
  .eslintrc.js
  apps/api-ecommerce/.eslintignore
  apps/api-ecommerce/.eslintrc.js
  apps/api-ecommerce/.eslintrc.json
  apps/api-ecommerce/package.json
  package.json
  packages/eslint-config-custom/.prettierrc.json
  packages/eslint-config/.prettierrc.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): create user
  apps/api-ecommerce/prisma/migrations/20230312171657_add_password_hash_and_created_at_columns_in_users_table/migration.sql
  apps/api-ecommerce/prisma/schema.prisma
  apps/api-ecommerce/src/app.ts
  apps/api-ecommerce/src/lib/prisma.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): add users controller
  apps/api-ecommerce/src/app.ts
  apps/api-ecommerce/src/http/controllers/users.ts
  apps/api-ecommerce/src/http/routes.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): create user use-case
  .editorconfig
  apps/api-ecommerce/.eslintrc.js
  apps/api-ecommerce/.prettierrc.json
  apps/api-ecommerce/package.json
  apps/api-ecommerce/src/http/controllers/users.ts
  apps/api-ecommerce/src/use-cases/account/create-user-use-cases.ts
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

fix: prettier
  .prettierrc.json
  apps/api-ecommerce/src/env/index.ts
  apps/api-ecommerce/src/http/controllers/users.ts
  apps/api-ecommerce/src/http/routes.ts
  apps/api-ecommerce/src/use-cases/account/create-user-use-cases.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

fix: prettier
  .prettierrc.json
  apps/api-ecommerce/src/app.ts
  apps/api-ecommerce/src/lib/prisma.ts
  apps/api-ecommerce/src/server.ts
  apps/api-ecommerce/src/use-cases/account/create-user-use-cases.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): add dependency inversion
  apps/api-ecommerce/.eslintrc.js
  apps/api-ecommerce/src/http/controllers/users.ts
  apps/api-ecommerce/src/repositories/in-memory/in-memory-users-repository.ts
  apps/api-ecommerce/src/repositories/prisma/prisma-users-repository.ts
  apps/api-ecommerce/src/repositories/users-repository.ts
  apps/api-ecommerce/src/use-cases/account/create-user-use-cases.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): handle with create user use case error
  apps/api-ecommerce/src/errors/user-already-exists-error.ts
  apps/api-ecommerce/src/http/controllers/users.ts
  apps/api-ecommerce/src/use-cases/account/create-user-use-cases.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): handle global errors
  apps/api-ecommerce/src/app.ts
  apps/api-ecommerce/src/http/controllers/users.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): config vitest
  apps/api-ecommerce/package.json
  apps/api-ecommerce/src/http/controllers/users.ts
  apps/api-ecommerce/src/use-cases/account/create-user/create-user-use-cases.spec.ts
  apps/api-ecommerce/src/use-cases/account/create-user/create-user-use-cases.ts
  apps/api-ecommerce/vite.config.js
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): first unity test
  apps/api-ecommerce/src/use-cases/account/create-user/create-user-use-cases.spec.ts
  apps/api-ecommerce/src/use-cases/account/create-user/create-user-use-cases.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): generate test coverage
  apps/api-ecommerce/.gitignore
  apps/api-ecommerce/package.json
  apps/api-ecommerce/src/use-cases/account/create-user/create-user-use-cases.spec.ts
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): add vitest ui
  apps/api-ecommerce/package.json
  yarn.lock
Due: none

feat(api-ecommerce): create authenticate use-case, controllers and tests
  apps/api-ecommerce/README.md
  apps/api-ecommerce/src/errors/invalid-credentials-error.ts
  apps/api-ecommerce/src/http/controllers/authenticate.ts
  apps/api-ecommerce/src/http/routes.ts
  apps/api-ecommerce/src/use-cases/account/authenticate/authenticate-use-case.spec.ts
  apps/api-ecommerce/src/use-cases/account/authenticate/authenticate-use-case.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

refactor(api-ecommerce): test instances
  apps/api-ecommerce/src/use-cases/account/authenticate/authenticate-use-case.spec.ts
  apps/api-ecommerce/src/use-cases/account/create-user/create-user-use-cases.spec.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): create factory pattern
  apps/api-ecommerce/src/http/controllers/authenticate.ts
  apps/api-ecommerce/src/http/controllers/users.ts
  apps/api-ecommerce/src/use-cases/factories/make-authenticate-use-case.ts
  apps/api-ecommerce/src/use-cases/factories/make-create-user-use-case.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): create profile use case
  apps/api-ecommerce/README.md
  apps/api-ecommerce/src/errors/resource-not-found-error.ts
  apps/api-ecommerce/src/repositories/in-memory/in-memory-users-repository.ts
  apps/api-ecommerce/src/repositories/prisma/prisma-users-repository.ts
  apps/api-ecommerce/src/repositories/users-repository.ts
  apps/api-ecommerce/src/use-cases/account/get-user-profile/get-user-profile.spec.ts
  apps/api-ecommerce/src/use-cases/account/get-user-profile/get-user-profile.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

feat(api-ecommerce): add jwt authenticate
  apps/api-ecommerce/README.md
  apps/api-ecommerce/package.json
  apps/api-ecommerce/src/@types/fastify-jwt.d.ts
  apps/api-ecommerce/src/app.ts
  apps/api-ecommerce/src/env/index.ts
  apps/api-ecommerce/src/http/controllers/authenticate.ts
  apps/api-ecommerce/src/http/controllers/profile.ts
  apps/api-ecommerce/src/http/middlewares/verify-jwt.ts
  apps/api-ecommerce/src/http/routes.ts
  apps/api-ecommerce/src/use-cases/factories/make-get-user-profile-use-case.ts
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

feat(api-ecommerce): add e2e test
  apps/api-ecommerce/package.json
  apps/api-ecommerce/prisma/vitest-environment-prisma/package.json
  apps/api-ecommerce/prisma/vitest-environment-prisma/prisma-test-environment.ts
  apps/api-ecommerce/src/http/controllers/authenticate.spec.ts
  apps/api-ecommerce/src/http/controllers/profile.spec.ts
  apps/api-ecommerce/src/http/controllers/users.spec.ts
  apps/api-ecommerce/vite.config.js
  apps/docs/src/pages/f01-system/a01_home.stories.mdx
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

feat(api-ecommerce): add refresh token
  apps/api-ecommerce/package.json
  apps/api-ecommerce/src/app.ts
  apps/api-ecommerce/src/http/controllers/authenticate.ts
  apps/api-ecommerce/src/http/controllers/profile.spec.ts
  apps/api-ecommerce/src/utils/test/create-and-authenticate-user.ts
  yarn.lock
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): add RBCA authorization
  apps/api-ecommerce/prisma/migrations/20230313015446_add_role_column_to_users/migration.sql
  apps/api-ecommerce/prisma/schema.prisma
  apps/api-ecommerce/src/@types/fastify-jwt.d.ts
  apps/api-ecommerce/src/http/controllers/accounts/authenticate.spec.ts
  apps/api-ecommerce/src/http/controllers/accounts/authenticate.ts
  apps/api-ecommerce/src/http/controllers/accounts/profile.spec.ts
  apps/api-ecommerce/src/http/controllers/accounts/profile.ts
  apps/api-ecommerce/src/http/controllers/accounts/refresh.spec.ts
  apps/api-ecommerce/src/http/controllers/accounts/refresh.ts
  apps/api-ecommerce/src/http/controllers/accounts/users.spec.ts
  apps/api-ecommerce/src/http/controllers/accounts/users.ts
  apps/api-ecommerce/src/http/middlewares/verify-user-role.ts
  apps/api-ecommerce/src/http/routes.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): create ci
  .github/workflows/run-e2e-tests.yml
  .github/workflows/run-unit-tests.yml
  apps/api-ecommerce/src/utils/test/create-and-authenticate-user.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

fix(api-ecommerce): expect email
  apps/api-ecommerce/src/http/controllers/accounts/profile.spec.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

refactor(api-ecommerce): change service name
  .github/workflows/run-e2e-tests.yml
Due: prettier --write

docs(api-ecommerce): update
  apps/api-ecommerce/README.md
Due: prettier --write

feat: add tests to yggdrasil
  apps/api-ecommerce/src/use-cases/account/authenticate/authenticate-use-case.spec.ts
  package.json
  turbo.json
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"
