Repository rgranvilla/yggdrasil: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write "**/*.{ts,tsx}", prettier --write

refactor(api-ecommerce): separating application by modules
  apps/api-ecommerce/package.json
  apps/api-ecommerce/src/core/http/controllers/accounts/authenticate/authenticate.spec.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/authenticate/authenticate.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/create/create.spec.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/create/create.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/profile/profile.spec.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/profile/profile.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/refresh/refresh.spec.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/refresh/refresh.ts
  apps/api-ecommerce/src/core/http/routes/accounts.ts
  apps/api-ecommerce/src/core/modules/account/dtos/userDTO.ts
  apps/api-ecommerce/src/core/modules/account/factories/make-authenticate-use-case.ts
  apps/api-ecommerce/src/core/modules/account/factories/make-create-user-use-case.ts
  apps/api-ecommerce/src/core/modules/account/factories/make-get-user-profile-use-case.ts
  apps/api-ecommerce/src/core/modules/account/repositories/users-repository.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/authenticate/authenticate-use-case.spec.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/authenticate/authenticate-use-case.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/create-user/create-user-use-cases.spec.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/create-user/create-user-use-cases.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/get-user-profile/get-user-profile.spec.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/get-user-profile/get-user-profile.ts
  apps/api-ecommerce/src/in-memory/repositories/in-memory-users-repository.ts
  apps/api-ecommerce/src/prisma/repositories/prisma-users-repository.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

refactor(api-ecommerce): separating core and shared layers
  apps/api-ecommerce/package.json
  apps/api-ecommerce/src/core/http/controllers/accounts/authenticate/authenticate.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/create/create.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/profile/profile.spec.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/profile/profile.ts
  apps/api-ecommerce/src/core/modules/account/dtos/create-user-dto.ts
  apps/api-ecommerce/src/core/modules/account/dtos/get-user-profile-dto.ts
  apps/api-ecommerce/src/core/modules/account/dtos/userDTO.ts
  apps/api-ecommerce/src/core/modules/account/entities/user.spec.ts
  apps/api-ecommerce/src/core/modules/account/entities/user.ts
  apps/api-ecommerce/src/core/modules/account/factories/make-authenticate-use-case.ts
  apps/api-ecommerce/src/core/modules/account/factories/make-create-user-use-case.ts
  apps/api-ecommerce/src/core/modules/account/factories/make-get-user-profile-use-case.ts
  apps/api-ecommerce/src/core/modules/account/factories/make-new-user.ts
  apps/api-ecommerce/src/core/modules/account/mapper/user-mapper.ts
  apps/api-ecommerce/src/core/modules/account/repositories/users-repository.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/authenticate/authenticate-use-case.spec.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/authenticate/authenticate-use-case.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/create-user/create-user-use-cases.spec.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/create-user/create-user-use-cases.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/get-user-profile/get-user-profile.spec.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/get-user-profile/get-user-profile.ts
  apps/api-ecommerce/src/shared/errors/invalid-credentials-error.ts
  apps/api-ecommerce/src/shared/errors/resource-not-found-error.ts
  apps/api-ecommerce/src/shared/errors/user-already-exists-error.ts
  apps/api-ecommerce/src/shared/helpers/Replace.ts
  apps/api-ecommerce/src/shared/infra/database/in-memory/repositories/account/in-memory-users-repository.ts
  apps/api-ecommerce/src/shared/infra/database/prisma/lib/index.ts
  apps/api-ecommerce/src/shared/infra/database/prisma/mapper/account/prisma-user-mapper.ts
  apps/api-ecommerce/src/shared/infra/database/prisma/repositories/prisma-users-repository.ts
  apps/api-ecommerce/src/shared/utils/test/create-and-authenticate-user.ts
  apps/api-ecommerce/src/utils/test/create-and-authenticate-user.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

refactor(api-ecommerce): change mapper to view models
  apps/api-ecommerce/src/core/modules/account/use-cases/get-user-profile/get-user-profile.ts
  apps/api-ecommerce/src/core/modules/account/view-models/user-view-model.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): add columns and table to prisma schema
  apps/api-ecommerce/prisma/migrations/20230314004033_create_sign_newsletter_table_and_add_phone_and_type_to_user_table/migration.sql
  apps/api-ecommerce/prisma/schema.prisma
  apps/api-ecommerce/src/core/http/controllers/accounts/authenticate/authenticate.ts
  apps/api-ecommerce/src/core/http/controllers/accounts/create/create.ts
  apps/api-ecommerce/src/core/modules/account/dtos/create-user-dto.ts
  apps/api-ecommerce/src/core/modules/account/dtos/get-user-profile-dto.ts
  apps/api-ecommerce/src/core/modules/account/entities/user.spec.ts
  apps/api-ecommerce/src/core/modules/account/entities/user.ts
  apps/api-ecommerce/src/core/modules/account/factories/make-new-user.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/create-user/create-user-use-cases.spec.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/create-user/create-user-use-cases.ts
  apps/api-ecommerce/src/core/modules/account/use-cases/get-user-profile/get-user-profile.spec.ts
  apps/api-ecommerce/src/core/modules/account/view-models/user-view-model.ts
Due: npx eslint --fix, prettier --write "**/*.{ts,tsx}"

feat(api-ecommerce): reset prisma migrations and create users table
  apps/api-ecommerce/prisma/migrations/20230312163904_create_users_table/migration.sql
  apps/api-ecommerce/prisma/migrations/20230312171657_add_password_hash_and_created_at_columns_in_users_table/migration.sql
  apps/api-ecommerce/prisma/migrations/20230313015446_add_role_column_to_users/migration.sql
  apps/api-ecommerce/prisma/migrations/20230314004033_create_sign_newsletter_table_and_add_phone_and_type_to_user_table/migration.sql
  apps/api-ecommerce/prisma/migrations/20230318052644_create_users_table/migration.sql
  apps/api-ecommerce/prisma/schema.prisma
Due: none

chore(api-ecommerce): remove jsonwebtoken and @types/jsonwebtoken dependencies
  apps/api-ecommerce/package.json
  yarn.lock
Due: none

fix(api-ecommerce): set environment refresh_secret
  .github/workflows/run-e2e-tests.yml
Due: prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write "**/*.{ts,tsx}": any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{md,mdx,mjs,yml,yaml,css}
